{% extends 'base.html' %} <!-- SE CARGA ARCHIVO BASE -->
{% load static %} <!-- SE CARGA CARPETA STATIC -->
{% block titulo %} Editar Card Mecanico {% endblock %}


{% block contenido %}

<div class="container mt-5 mb-5" id="Mecanicos">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
        <div class="col">
            <div class="card card-mecanico">
                <img src="{% static 'img/mecanico1.jpg' %}" class="card-img-top w-100 img-card img-mecanico" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jorge González</h5>
                    <p class="card-text">Jorge González es un destacado experto en electrónica de autos con una amplia trayectoria en el campo
                        automotriz.</p>
                    <a href="{% url 'jorge' %}" class="btn bot-stl bot-stl2">Más Información</a>
                    <a href="{% url 'crear' %}" class="btn btn-success bot-stl bot-stl2">Agregar Mecanico</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}